################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestCoreDocker/.vs/TestCoreDocker
/TestCoreDocker/TestCoreDocker/bin/Debug/net6.0
/TestCoreDocker/TestCoreDocker/obj
/TestCoreDocker/TestCoreDocker/TestCoreDocker.csproj.user
