################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestCoreDocker/.vs/TestCoreDocker
/TestCoreDocker/TestCoreDocker/bin/Debug/net6.0
/TestCoreDocker/TestCoreDocker/obj
/TestCoreDocker/TestCoreDocker/TestCoreDocker.csproj.user
/TestCoreDocker/.vs/ProjectEvaluation
/TestCoreDocker/TestCoreDocker/.vscode
/TestCoreDocker/TestCoreDockerService/obj
/TestCoreDocker/TestCoreDockerUnitTest/bin/Debug/net6.0
/TestCoreDocker/TestCoreDockerUnitTest/obj
/.vs
/TestCoreDocker/TestCoreDockerService/bin/Debug/net6.0
/TestCoreDocker/TestCoreDocker/bin/Release/net6.0
/TestCoreDocker/TestCoreDockerService/bin/Release/net6.0
/TestCoreDocker/TestCoreDockerUnitTest/bin/Release/net6.0/CoverletSourceRootsMapping
